In [6]:
import pandas as pd
from pandas import ExcelWriter
import pandas.api.types as ptypes

# read excel file into data object
data = pd.ExcelFile('/Users/Nicole/Documents/Programs/PluralSight/Forecast-Anglo.xlsx')
# call parse method for data
df = data.parse(sheet_name='Sheet1')
# print dataframe
print(df)

   Annual Income Statement Data      Unnamed: 1  Unnamed: 2  Unnamed: 3  \
0                           NaN  Actuals in M $         NaN         NaN
1        Fiscal Period December            2015        2016        2017
2                         Sales          20 455      21 378      26 243
3                        EBITDA           4 854       6 075       8 823
4       Operating profit (EBIT)           2 223       3 766       5 242
5          Pre-Tax Profit (EBT)          -5 454       2 624       5 505
6                    Net income          -5 624       1 594       3 166
7                     P/E ratio           -1,01        11,6        8,54
8                     EPS ( $ )           -4,36        1,23        2,45
9      Dividend per Share ( $ )            0,32           -        1,02
10                        Yield           7,25%           -       4,88%
11        Reference price ( $ )            4.41       14.32       20.92
12            Announcement Date      02/16/2016  02/21/2017  02/22/2018
13                          NaN         07:00am     08:01am     07:01am

          Unnamed: 4 Unnamed: 5 Unnamed: 6
0   Estimates in M $        NaN        NaN
1               2018       2019       2020
2             27 335     26 561     27 435
3              8 651      7 782      7 766
4              6 152      5 288      5 264
5              5 972      5 147      5 209
6              3 532      3 066      2 980
7               8,78       10,3       10,7
8               2,56       2,20       2,10
9               1,11       1,03       0,98
10             4,95%      4,59%      4,34%
11           22.5159    22.5159    22.5159
12                 -          -          -
13               NaN        NaN        NaN

In [7]:
# select rows and columns that have numbers
ndf = df.iloc[1:12,1:]
# print values in ndf
print(ndf.values)

[[2015 2016 2017 2018 2019 2020]
 ['20 455' '21 378' '26 243' '27 335' '26 561' '27 435']
 ['4 854' '6 075' '8 823' '8 651' '7 782' '7 766']
 ['2 223' '3 766' '5 242' '6 152' '5 288' '5 264']
 ['-5 454' '2 624' '5 505' '5 972' '5 147' '5 209']
 ['-5 624' '1 594' '3 166' '3 532' '3 066' '2 980']
 ['-1,01' '11,6' '8,54' '8,78' '10,3' '10,7']
 ['-4,36' '1,23' '2,45' '2,56' '2,20' '2,10']
 ['0,32' '-' '1,02' '1,11' '1,03' '0,98']
 ['7,25%' '-' '4,88%' '4,95%' '4,59%' '4,34%']
 [4.41 14.32 20.92 22.5159 22.5159 22.5159]]

In [8]:
# remove spaces within numbers
# replace commas with decimal points
# replace percentages with numbers
# convert strings to numbers

nvalues = []
for row in ndf.values:
    nrow = []
    for itm in row:
        if type(itm) == str:
            itm = itm.replace(' ', '').replace(',', '.')
            if len(itm) == 1 and '-' in itm:
                itm = itm.replace('-', '0')
            if '%' in itm:    
                itm = float(itm.replace('%', '')) / 100
            itm = float(itm)
        nrow.append(itm)
    nvalues.append(nrow)

# print new values
print(nvalues)

[[2015, 2016, 2017, 2018, 2019, 2020], [20455.0, 21378.0, 26243.0, 27335.0, 26561.0, 27435.0], [4854.0, 6075.0, 8823.0, 8651.0, 7782.0, 7766.0], [2223.0, 3766.0, 5242.0, 6152.0, 5288.0, 5264.0], [-5454.0, 2624.0, 5505.0, 5972.0, 5147.0, 5209.0], [-5624.0, 1594.0, 3166.0, 3532.0, 3066.0, 2980.0], [-1.01, 11.6, 8.54, 8.78, 10.3, 10.7], [-4.36, 1.23, 2.45, 2.56, 2.2, 2.1], [0.32, 0.0, 1.02, 1.11, 1.03, 0.98], [0.0725, 0.0, 0.048799999999999996, 0.0495, 0.045899999999999996, 0.0434], [4.41, 14.32, 20.92, 22.5159, 22.5159, 22.5159]]

In [9]:
# save new values into same range from where original values were taken
df.iloc[1:12,1:] = nvalues
# assign new data into another Excel file
writer = ExcelWriter('/Users/Nicole/Documents/Programs/PluralSight/Forecast-Anglo2.xlsx')
df.to_excel(writer,'Sheet1', index=False)
# save file
writer.save()