In [12]:
import pandas as pd 
import numpy as np

# initialize dataframe for revenue, expenses, and profit for years 2015 to 2019
dat = [{'2015': 5, '2016':6, '2017':8, '2018':10, '2019':13}, 
       {'2015': 4, '2016':4.8, '2017':6.1, '2018':8, '2019':10},
       {'2015': 1, '2016':1.2, '2017':1.9, '2018':2, '2019':3},] 

df = pd.DataFrame(dat, index =['Revenue', 'Expenses', 'Profit']) 
df

          2015  2016  2017  2018  2019
Revenue      5   6.0   8.0    10    13
Expenses     4   4.8   6.1     8    10
Profit       1   1.2   1.9     2     3

In [13]:
# calculate year over year growth rate for 2018-2019
df['YoY Growth'] = ((df['2019'] - df['2018'])/df['2018'])*100
df

          2015  2016  2017  2018  2019  YoY Growth
Revenue      5   6.0   8.0    10    13        30.0
Expenses     4   4.8   6.1     8    10        25.0
Profit       1   1.2   1.9     2     3        50.0

In [14]:
# calculate compounded annual growth rate (CAGR) for 2015-2019
df['CAGR'] = ((df['2019']/df['2015'])**(1/4.0)-1)*100
df

          2015  2016  2017  2018  2019  YoY Growth       CAGR
Revenue      5   6.0   8.0    10    13        30.0  26.982343
Expenses     4   4.8   6.1     8    10        25.0  25.743343
Profit       1   1.2   1.9     2     3        50.0  31.607401

In [15]:
# financial projection of CAGR for the next three years
df['Projection_3year'] = df['2019']*(1+(df['CAGR']/100))**(5)
df

,2015,2016,2017,2018,2019,YoY Growth,CAGR,Projection_3year
Revenue,5,6.0,8.0,10,13,30.0,26.982343,42.920032
Expenses,4,4.8,6.1,8,10,25.0,25.743343,31.435836
Profit,1,1.2,1.9,2,3,50.0,31.607401,11.844666

In [16]:
# calculate the time value of money
# rate: The rate of return.
# nper: The number of periods for the investment.
# pmt: The fixed payment at the start or end of each period.
# pv: The present value of the investment.
np.fv(rate=0.03, nper=5, pmt=0, pv=-100)

115.92740743

In [17]:
# calculate the net present value (NPV)
# NPV is the difference between PV of cash inflows and PV of cash outflows over a period of time

# Project 1
# -$1000 in year 1, $1000 in year 2, $2000 in year 3, $3000 in year 4, $4000 in year 5
# Project 2
# $1000 in year 1, $2000 in year 2, -$1000 in year 3, $3000 in year 4, $4000 in year 5

# Project 1 NPV
print(np.npv(rate=0.05, values=np.array([-1000, 1000, 2000, 3000, 4000])))
# Project 2 NPV
print(np.npv(rate=0.05, values=np.array([1000, 2000, -1000, 3000, 4000])))

# Absolute project value for each project is $9000, but time value of money varies
# NPV is higher for Project 2, so it is the best choice

7648.76260406
7880.05512107

In [18]:
# calculate the internal rate of return (IRR)
# IRR is the rate of return at which the NPV of cash flows becomes equal to zero

# Project 1 IRR
print(np.irr(np.array([-1000, 1000, 2000, 3000, 4000])))
# Project 2 IRR
print(np.irr(np.array([1000, 2000, -1000, 3000, 4000])))

# The second project has no IRR because there is no cash outflow in the first year
# With this method, the project with the highest IRR is the best choice

1.517996077869768
nan

In [19]:
# If IRR is less than cost of capital, then the project is a bad investment
# calculate the weighted average cost of capital (WACC)

# The percentage of a company's financing via equity.
equity_proportion = 0.60
# The cost of equity for the company.
equity_cost = 0.15
# The percentage of a company's financing via debt.
debt_proportion = 0.40
# The cost of debt for the company.
debt_cost = 0.10
# taxrate: The corporate tax rate.
taxrate = 0.30

WACC = (equity_proportion*equity_cost) + (debt_proportion*debt_cost) * (1-taxrate)
WACC

0.118